@import '../../globals.scss';

.card {
  transform: translate(0, -50%);
  width: 280px;
  height: 200px;
  background-color: $blue;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: white;
  padding: 20px;
  overflow: hidden;

  h4,
  span {
    font-size: 14px;
    font-weight: 300;
  }

  h3,
  h4 {
    margin: 0;
  }

  .button--learn-more {
    color: white;
    background-color: $blue;
    border-radius: 5px;
    border: none;
    margin-right: auto;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
  }

  img {
    width: 70%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    opacity: 0.3;
  }
}
