@import '../../globals.scss';

.dropbox-menu {
  position: absolute;
  top: 100%;
  background-color: $white;
  border-left: solid 3px $blue;
  width: 150px;
  box-shadow: $gray 1px 1px 2px;

  .dropbox-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .dropbox-item {
      color: $gray;
      font-weight: 300;
      padding: 10px 30px 10px 10px;
      border-bottom: dashed $gray 1px;
    }

    .dropbox-item:last-child {
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .dropbox-menu {
    position: static;
    background-color: $white;
    border: none;
    box-shadow: none;
    width: 150px;

    .dropbox-list {
      .dropbox-item {
        border-bottom: none;
      }
    }
  }
}
