@import "../../globals.scss";

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0 20px 0;
  font-weight: 300;

  .info>div {
    cursor: pointer;
  }

  .info,
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .contact>div {
    font-size: 14px;
    display: flex;
    gap: 10px;

    svg {
      color: $blue;
    }
  }

}

.top-header::after {
  position: absolute;
  left: 0;
  content: " ";
  display: block;
  margin-top: 40px;
  border-bottom: 0.1px solid $gray;
  width: 100vw;
}
