@import '../../globals.scss';

.nav-dropbox {
  position: relative;
  top: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 15px;

  img {
    border-radius: 5px;
    width: 130px;
    height: auto;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .nav-dropbox {
      display: flex;
    }

    .nav-item {
      display: flex;
      cursor: pointer;
      padding: 25px 10px 25px 10px;
      align-items: center;
    }

    .active {
      border-bottom: 3px solid $blue ;
      color: $blue;
    }


    svg {
      margin-top: 2px;
    }
  }
}
